*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/apks
/.idea/git_toolbox_prj.xml
/app/debug
/app/release
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
